*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

.header_title {
  margin-top: 0;
  background-color: #205A41;
  color: #FFFFFF;
  height:50px;
  display: flex;
  justify-content: space-around;
  align-items: revert;
}

.header_title > img {
  height: 45px;
  width: auto
}

.title {
  color: #205A6B;
  margin: 0, 0, 0, 50px;
}

//-----------------------PROFILE INFO-----------------------\\
.profile {
  min-height: 260px;
  max-width: 400px;
  margin: auto;

  .username {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
  }

  .description {
    margin-top: 10px;
    font-size: 1em;
  }

  .profileImage {
    position: relative;
    width: 200px;
    height: 200px;
    //background-color: rgb(196, 196, 196);
    //border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;

    .image,
    .identicon {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      position: relative;
      background-size: cover;
      border-radius: 50%;
      overflow: hidden;
    }

    .image {
      position: absolute;
      top: 0px;
      margin: 0px;
      width: 200px;
      height: 200px;
      //background-color: rgba(196, 196, 196, 0.5);
    }
  }
}


//-----------------------TABS-----------------------\\
.tabs {
  position: relative;
  display: flex;
  min-height: 1180px;
  max-height: auto;
  overflow-y: scroll;
  border-radius: 8px 8px 0 0;
  background: #D4F2DD;  //overflow: hidden;
}

.tabby-tab {
  flex: 1;
}

.tabby-tab label {
  display: block;
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  text-align: center;
  background: #82c5a4;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.5s ease;
}

.tabby-tab label:hover {
  background: #246145;
}

.tabby-content {
  position: absolute;
  left: 0; bottom: 0; right: 0;
  top: 40px; 
  padding: 20px;
  border-radius: 0 0 8px 8px;
  background: #D4F2DD;
  transition: 
    opacity 0.8s ease,
    transform 0.8s ease;  
    opacity: 0;
    transform: scale(0.1);
    transform-origin: top left;
}

.tabby-content-img {
  float: left;
  margin-right: 20px;
  border-radius: 8px;
}

.tabby-tab [type=radio] { display: none; }
[type=radio]:checked ~ label {
  background: #246145;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .tabby-content {
  z-index: 1;  
  opacity: 1;
  transform: scale(1);
}

@media screen and (max-width: 767px) {
  .tabs { min-height: 400px;}
}

@media screen and (max-width: 480px) {
  .tabs { min-height: 580px; }
  .tabby-tab label { 
    height: 60px;
  }
  .tabby-content { top: 60px; }
  .tabby-content img {
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
//-----------------------END TABS-----------------------\\



//----------------------- BUTTON -----------------------\\
button, .button {
  margin: 10px 10px;
  background-color: #246145;
  border-color: #246145;
}

button:hover, .button :hover {
  background-color: #6FA088;
}

button:focus, .button:focus{
  background-color: #6FA088
}
//----------------------- END BUTTON -----------------------\\



.app.container {
  margin-top: 1.5em;
  margin-bottom: 1em;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.center {
  display: block;
  text-align: center;
}

.left {
  display: block;
  text-align: left;
}

.right {
  display: flex;
  justify-content: flex-end;
}

form {
  margin: auto;
}

.formfields{
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
}

.item-flex{      
  flex: 0 1 50%;
  margin: 5px;
}


.back {
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  text-align: center;
  top: -60px;
  left: 20px;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(102, 101, 101);
  background-color: rgb(226, 224, 224);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgb(200, 199, 199);
  }
}

.note,
.warning {
  &::before {
    font-size: 12px;
    margin-right: 10px;
  }

  background-color: white;
  border: solid 1px white;
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 20px;
}

.note {
  &::before {
    content: '📝';
  }

  background-color: #f0f7fb;
  border-color: #3498db;
}

.warning {
  &::before {
    content: '⚠️';
  }

  background-color: #fbf5f0;
  border-color: #db6334;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.emptyLogo {
  display: block;
  margin: auto;
  width: 150px;
}

.asset-wrapper {
  text-align: center;
}

.preview-card {
  position: relative;
  display: block;
  overflow: hidden;
  width: 200px;

  height: auto;
  max-height: 235px;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;

  cursor: pointer;
  background-position: 50%;
  background-size: cover;

  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);

  &:hover {
    transform: scale(1.05);
  }

  .supply {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 175px;
    padding: 2px 4px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
  }

  .image {
    width: 100%;
    height: 165px;
    background-position: center;
    background-size: cover;
    padding: 50%;
  }

  .infos {
    padding: 5px 10px 10px 10px;
  }
}

footer {
  text-align: center;
  margin-top: auto;
}
